body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: blue;
}

h1{
    color: blue;
    font-size: 18px;
}

p{
    color: red;
    font-size: medium;
} 
 
nav {
    margin-bottom: 20px;
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: blue;
}
